<div class="p_side_header_p">
  <p>Home > workshopsのレビュー</p>
</div><!-- 三本のイメージを押したらカテゴリーが開きます。 -->
<%= render 'workshop_detail', workshop: @workshop %>

<% if @workshop.present? %>
  <div class="user_enter_butten">
  </div>   
  <div class="post_text">
    <%= render partial: 'form', locals: { post: @post } %>
  </div> 
  
<% else %>
  No workshop
<% end %>
