  <div class="header">
    <div class="s_header">ASOBINAGARA</div><!三本のイメージを押したら　カテゴリーが開きます。-->
    <div class="s_header1">sign up</div>
  </div> 
  <div class="side_header">
    <p>Home>workshopsの詳細ページ</p><!三本のイメージを押したら　カテゴリーが開きます。-->
  </div>
<body>
<div class="body">
  <% @workshops.each do |workshop| %>
  <div class="table_left">
        <div class="title"><span ><%= workshop.w_title%></span></div>
        <div class="w_theme"><span><%= workshop.w_theme%></span></div>
        <div class="img">
          <p> <%= image_tag workshop.image.url, size: '200x200'%>  
        </div>
  </div>
  <div class="table_right">
        <p>空き状況</p>
        <p>開催時間</p>
        <p>参加者</p>
        <p>場所</p>
        <p>場所詳細</p>
        <p>駐車場ありなし</p>
        <p>like</p>
        <p><input type="button" value="予約する" class= "btn_b"  onclick="location.href = '/home/select_position'"></p> 
        <p><input type="button" value="レビュー" class= "btn_r"  onclick="location.href = '/home/select_position'"></p> 
  </div>
  <% end %> 
  </div>
</body>
