<h1>Planners::Schecules#index</h1>
<p>Find me in app/views/planners/schecules/index.html.erb</p>
<p>ワークショップ一覧<%=@workshop.w_title%></p>

<div>
<% @schedules.each do |schedule| %>
    <p>タイトル：<%=schedule.title%>
    日程:<%= schedule.day%>
    時間:<%=schedule.time%>
    </p>
<%end%>
</div>