// Place all the styles related to the planners/booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.t_body {
    
    width: 50%;
    height: 40%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: solid 3px white;
    font-size: large;
    border-radius: 5%;
    color: #004A54;
}

t_body_1 {
    border: solid 5px;
}