// Place all the styles related to the planners/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p_r_reservation{
    text-align: center;
}
.p_r_top{ font-size: larger;
         font-weight: bolder;
}
.t_body{
    border-radius: 2%;
    background-color: #DBE5E6;
    border:solid 3px #DBE5E6; 
    text-align: center;
    width:100%;
}
.p_t{ color:#DBE5E6;
        border-radius: 5%;
        border:solid 3px#DBE5E6; 
        background-color:#004A54;
        margin-left: 10%;
        margin-right:10%;
        font-size: larger;
        margin: auto;
        width:60%;
}

