<div class= "mypage_body">
  <div class="planner_info">
    <div class="planner_info_left">
      <span>フロフィル写真</span>
    </div>
    <div class="planner_info_right">
        <p>User_ID</p>
        <p><%= current_planner.user_name%>様のページ</p>
        <p>Email</p>
        <p><%= current_planner.email%></p>
        <span>予約0件</span>
        <span>投稿0件</span>
        <span></span>
    </div>
  </div>
  <div class="booking_detail">
    <p><span>Workshop予約履歴</span></p>
    <p><span>予約履歴</span></p>
    <p><span> 詳細内容</span></p>
    <p><span> 表示</span></p>
  </div>
  <div class="booking_detail1">
      <div class="workshop_enter">
      <img src="celender.svg" class="big_btn">
      <img src="/ikon =>.png"  class="smail_btn">
      <img src="/ikon workshop.png" class="big_btn">
      <img src="/ikon =>.png"  class="smail_btn">
      <img src="/ikon enter .png" class="big_btn">
      </div>
  </div>  
  <hr>
    <div class="booking_detail2">
      <div class="workshop_enter">
      <img src="/ikon find workshop.png" class="big_btn">
      <img src="/ikon =>.png"  class="smail_btn">
      <img src="/ikon workshop.png" class="big_btn">
      <img src="/ikon =>.png"  class="smail_btn">
      <img src="/ikon enter .png" class="big_btn">
      </div>
    </div>
</div>