    
                <div class="s_header">
                    <h4>ASOBINAGARA</h4><!三本のイメージを押したら　カテゴリーが開きます。-->
                </div>
                <div class="position">
                    <p class= "position-text">Please select your position.</p>
                    <div class="position_btn">
                        <input type="submit" value="Organizer" class= "p-btn" >
                        <input type="submit" value="participate" class= "p-btn" >
                    </div>
                
                    <div class= "hand_content">   
                     <img class="hand_img" src="/hand.png">
                    </div>
                </div>    

    <footer>
        <div class ="bottom-text2">
            <p>ASOBINAGARA <font class="s-text"> © ASOBINAGARA ,lnc.  All Right Reserved</fron></div></p>
        </div>
    </footer>
</html>