        <div class="select_header">
                <div class="s_header">
                    <h4>ASOBINAGARA</h4><!三本のイメージを押したら　カテゴリーが開きます。-->
                </div>
                <div class="select_b">
                    <select onchange="if(this.value) location.href=(this.value);" class="select_box">
                        <option value="./select_position_E.html">English</option>
                        <option value="./select_position.html">Japan</option>
                        <option value="./select_position_K.html">Korea</option>
                    </select>
                </div>
            </div>    
                <div class="position">
                    <p class= "position-text">당신의 포지션을 선택해주세요.</p>
                    <div class="position_btn">
                        <input type="submit" value="개최자" class= "p-btn" >
                        <input type="submit" value="참가자" class= "p-btn" >
                    </div>
                
                    <div class= "hand_content">   
                     <img class="hand_img_home" src="/hand.png">
                    </div>
        </div>    
