

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!DOCTYPE html>
<html>
    <head>
    <mata charset="utf-8">
    <title>ASOBINAGARA</title>
    <mata name="description" content= "ASOBINAGARAは遊びながら色々作る楽しさを広げるフラットフォームです。">
    <mata name="viewport" content="width=device-width, initial-scale=1.0">
    <!--携帯サイズに合わします。-->
    <mata name ="robots" content"noindex, no follow"/ >
    <!--コピー防止-->  
   
    </head>
    <body>
                <div class="s_header">
                    <h4>ASOBINAGARA</h4><!三本のイメージを押したら　カテゴリーが開きます。-->
                </div>
                <div class="position">
                    <p class= "position-text">Please select your position.</p>
                    <div class="position_btn">
                        <input type="submit" value="Organizer" class= "p-btn" >
                        <input type="submit" value="participate" class= "p-btn" >
                    </div>
                
                    <div class= "hand_content">   
                     <img class="hand_img" src="/hand.png">
                    </div>
                </div>    
    </body>
    <footer>
        <div class ="bottom-text2">
            <p>ASOBINAGARA <font class="s-text"> © ASOBINAGARA ,lnc.  All Right Reserved</fron></div></p>
        </div>
    </footer>
</html>