

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!DOCTYPE html>
<html>
    <head>
    <mata charset="utf-8">
    <title>ASOBINAGARA</title>
    <mata name="description" content= "ASOBINAGARAは遊びながら色々作る楽しさを広げるフラットフォームです。">
    <mata name="viewport" content="width=device-width, initial-scale=1.0">
    <!--携帯サイズに合わします。-->
    <mata name ="robots" content"noindex, no follow"/ >
    <!--コピー防止-->  
   
    </head>
    <body>
      <div>
            <div class="page1"> 
                <div class="header">
                <h2>ASOBINAGARA</h2><!三本のイメージを押したら　カテゴリーが開きます。-->
                </div>
                <div class="main">
                    <div class= "main-top">   
                        <img class="top2" src="/ikon main-img.png">
                    </div>
                    <div>
                        <img class="top" src="/ikon main-img-top.png">
                    </div> 
                </div>
                <div class="main_button">
                    <p class= "main-text">遊びながら<br>あなたの可能性を発見してみませんか？</p>
      
                    <input type="submit" value="Lets go!" class= "btn" >
                    
                </div> 
            </div>    
         <div class= "main_body">
                <div class= "page2">
                        <hr> 
                        <div class= "big_title">
                           <div> <img src="/square.png" class="square"></div>
                            <h2>About us</h2>   
                        </div>
                          <div class="datail_box">
                                <ul>
                                <b><font class="name">ASOBINAGARA</font></b>は<br>
                                    オンライン＆オフラインで遊びながら<br>
                                    色々学びたい、教えたい方々を<br>
                                    繋ぐサービスを目指してます。</ol>
                                    <br>
                                </ul>
                            </div>
                        <hr>
                    </div>
                <div class= "page3">
                        <div class= "big_title">
                           <div> <img src="/square.png" class="square"></div>
                           <h3>ワークショップ参加の流れ</h3>
                        </div>    

                            <div class="workshop_enter">
                                <img src="/ikon find workshop.png" class="big_btn">
                                <img src="/ikon =>.png"  class="smail_btn">
                                <img src="/ikon workshop.png" class="big_btn">
                                <img src="/ikon =>.png"  class="smail_btn">
                                <img src="/ikon enter .png" class="big_btn">
                            </div>
                
                        <div class="main_button">
                        <input type="submit" value="Lets go!" class= "btn" >
                        </div>
                   
                </div>              
                <div class= "page 4">
                    <div class= "big_title">
                        <div> <img src="/square.png" class="square"></div>
                        <h3>ワークショップ開催したい!</h3>
                    </div>
                    <div class="datail_box1">
                    <br>
                        <ul>
                        <img src="/ikon_maru.png" class="check1">
                        <b><font>こんなこと思っているあなたに！</font><br></b>
                        <br>
                        <div >
                        <img src="/check.png" class="check">
                        ソーシャルディスタンスをしながら
                        <br> ワークショップ開催きたい。<br>
                        </div>
                        <br>
                        <img src="/check.png" class="check">
                        ワークショップで、様々な人に<br>
                           楽しみ方を伝えたい。<br>
                        <br>
                        <br>
                        </ul>
                        
                    </div>
                </div>
                <div class= "page 5">
                        <div class= "big_title">
                            <div> <img src="/square.png" class="square"></div>
                             <h3>ワークショップ開催の流れ</h3>
                        </div>
                        <div class="workshop_enter" >
                            <img src="/ikon developer.png" class="big_btn">
                            <img src="/ikon =>.png" class="smail_btn">
                            <img src="ikon workshop.png" class="big_btn" >
                            <img src="/ikon =>.png" class="smail_btn">
                            <img src="/ikon workshop enter.png" class="big_btn">
                        </div>
                        <div class="main_button">
                            <input type="submit" value="開催する" class= "btn" >
                        </div>
                
                    </div>
               
                </div>
         </div>
         
        <div >
            <div class="alam">
                <img src="/ikon alam.png" class="alam_button">
            </div>
            <hr>
        </div>
    </body>
    <footer>
        <div class ="bottom-text">
            <p>ログイン｜ログアウト</p>
            <p>利用規約｜個人情報処理方針</p>
        </div>
        <div class ="bottom-text1">
            <p><b><font class="foot-text">ASOBINAGARA</font></b> Information</p>
        </div>
        <div class ="bottom-text2">
        <p>ASOBINAGARA <font class="s-text"> © ASOBINAGARA ,lnc.  All Right Reserved</fron></div></p>
        </div>
    </footer>
</html>