<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!DOCTYPE html>
<html>
    <head>
    <mata charset="utf-8">
    <title>ASOBINAGARA</title>
    <mata name="description" content= "ASOBINAGARAは遊びながら色々作る楽しさを広げるフラットフォームです。">
    <mata name="viewport" content="width=device-width, initial-scale=1.0">
    <!--携帯サイズに合わします。-->
    <mata name ="robots" content"noindex, no follow"/ >
    <!--コピー防止-->  
    <%= stylesheet_link_tag    'home_top', media: 'all', 'data-turbolinks-track' => true  %>
    </head>
    <body class="full_body">
         <div class="header">
         <h4>ASOBINAGARA</h4>
         <a href ="/" > <!-三本のイメージを押したら　カテゴリーが開きます。-->
        </div>
                <div class="main">
                    <div class= "page-1">
                    <input type="botton" >
                    </div>
                    <div class= "page-2">
                    <button></button>
                    </div>
                    <div class= "page-3">
                    <button></button>
                    </div>
                    <div class="footer">
                    </div>
                </div>
     </body>
</html>