

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!DOCTYPE html>
<html>
    <head>
    <mata charset="utf-8">
    <title>ASOBINAGARA</title>
    <mata name="description" content= "ASOBINAGARAは遊びながら色々作る楽しさを広げるフラットフォームです。">
    <mata name="viewport" content="width=device-width, initial-scale=1.0">
    <!--携帯サイズに合わします。-->
    <mata name ="robots" content"noindex, no follow"/ >
    <!--コピー防止-->  
   
    </head>
    <body>
      <div>
            <div class="page1"> 
                <div class="header">
                <h4>ASOBINAGARA</h4><!三本のイメージを押したら　カテゴリーが開きます。-->
                </div>
                <div class="main">
                    <div class= "main-top">   
                        <img class="top2" src="/ikon main-img.png">
                    </div>
                    <div>
                        <img class="top" src="/ikon main-img-top.png">
                    </div> 
                </div>
                <div >
                    <p class= "main-text">遊びながらあなたの可能性発見してみませんか？</p>
                        <br>
                        
                    <input type="submit" value="Lets go!" class= "btn" >
                    
                </div> 
         </div>
                <div class= "page2">
                        <div class="about_us title">
                            
                            <br><h1 class="us_ikon">About us</h1>          
                        </div>
                        <div>
                            <ul>
                                <li>가</li>
                                <li>나</li>
                                <li>다</li>
                            
                            </ul>
                        </div>
                        
                </div>
                
                <div class= "page 3">
                    <div>
                        <h1 >ワークショップ参加の流れ</h1>
                            <div class="workshop_enter">
                                <div class="big_btn"><img src="/ikon find workshop.png"></div>
                                <div class="smail_btn"><img src="/ikon =>.png" ></div>
                                <div class="big_btn"><img src="/ikon workshop.png"></div>
                                <div class="smail_btn"><img src="/ikon =>.png"></div> 
                                <div class="big_btn"><img src="/ikon enter .png"></div>
                            </div>
                    </div>
                    <div><input type="button" value="Lets go!"></div>
                    <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    </ul>
                </div>
                
                <div class= "page 4">
                    <div>
                    <h1 class="us_ikon">ワークショップ開催したい</h1>
                    </div>
                </div>
                <div class= "page 5">
                        <h1 class="us_ikon">ワークショップ開催の流れ</h1>
                        <div>
                            <img src="/ikon developer.png">
                            <img src="/ikon =>.png">
                            <img src="ikon workshop.png">
                            <img src="/ikon =>.png">
                            <img src="/ikon workshop enter.png">
                        </div>

                </div>
              
    
        </div>
     </body>
</html>