<!-- new.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予約ページ</h1>
    </div>
  <%if current_user.reservations != nil %>
    
    すでに予約しております。追加で予約する！
   
    <%= render 'reservation_form.html',reservation:@reservation %>    
  <%else%>
    予約する！
     <div class="col-12 mt-3 content">
      <%= render 'reservation_form.html',reservation:@reservation %>    
  <% end %> 
    <div class="col-12 text-right">
      <%= link_to '戻る', users_reservations_index_path %>
    </div>
    </div>
  </div>
</div>