<div class="position">
  <p class= "position-text">Please select your position.</p>
  <div class="position_btn">
    <input type="submit" value="Organizer" class= "p-btn" onclick="location.href = '/planners/new' " >
    <input type="submit" value="participate" class= "p-btn" onclick="location.href ='/users/new'" >
  </div>
  <div class= "hand_content">   
    <img class="hand_img_home" src="/hand.png">
  </div>
</div>    
