<div class="position">
  <p class= "position-text">あなたのポジションを選択して下さい。</p><p class= "text">Signin page</p>
  <div class="position_btn">
    <input type="submit" value="開催者" class= "p-btn" onclick="location.href = '/planners/new'">
    <input type="submit" value="参加者！" class= "p-btn" onclick="location.href = '/users/new'">
  </div>
  <div class= "hand_content">   
    <img class="hand_img_home" src="/hand.png">
  </div>
</div>    