
<div class="page1"> 
  <div class="main">
    <div class= "main-top">   
      <img class="top2" src="/ikon main-img.png">
    </div>
    <div>
      <img class="top" src="/ikon main-img-top.png">
    </div> 
  </div>
  <div class="main_button">
    <p class= "main-text">遊びながら</p>
    <p class= "main-text">あなたの可能性を発見してみませんか？</p>
    <div>
      <input type="button" value="Lets go!" class="btn"  onclick="location.href = '/homes/select_position'">
    </div> 
  </div> 
</div>    
<div class="main_body">
  <div class= "page2">
    <hr> 
    <div class= "big_title">
      <img src="/square.png" class="square">
      <h2>About us</h2>   
    </div>
    <div class="datail_box">
      <ul>
        <p><font class="name">ASOBINAGARA</font>は</p>
        <p>オンライン＆オフラインで遊びながら</p>
        <p>色々学びたい、教えたい方々を</p>
        <p>繋ぐサービスを目指してます。</p>
      </ul>
    </div>
    <hr>
  </div>
  <div class= "page3">
    <div class= "big_title">
      <img src="/square.png" class="square">
      <h3>ワークショップ参加の流れ</h3>
    </div>    
    <div class="workshop_enter">
      <img src="/ikon find workshop.png" class="big_btn">
      <img src="/ikon =>.png"  class="smail_btn">
      <img src="/ikon workshop.png" class="big_btn">
      <img src="/ikon =>.png"  class="smail_btn">
      <img src="/ikon enter .png" class="big_btn">
    </div>
    <div class="main_button">
      <input type="submit" value="Lets go!" class= "btn"  onclick="location.href = '/homes/select_position'" >
    </div>
  </div>              
  <div class= "page4">
    <div class= "big_title">
      <img src="/square.png" class="square">
      <h3>ワークショップ開催したい!</h3>
    </div>
    <div class="datail_box1">
      <ul>
        <ol><img src="/ikon_maru.png" class="check1">
          <span class="detail_box1_target_user">こんなこと思っているあなたに！</span>
        </ol>
        <ol>
          <img src="/check.png" class="check">
          <span>ソーシャルディスタンスをしながら</span>
          <p> ワークショップ開催きたい。</p>
        </ol>
        <ol>
          <img src="/check.png" class="check">
          <span>ワークショップで、様々な人に</span>
          <p>楽しみ方を伝えたい。</p>
        </ol>
      </ul>
    </div>
  </div>   
  <div class="page5">
    <div class="big_title">
      <img src="/square.png" class="square">
      <h3>ワークショップ開催の流れ</h3>
    </div>
    <div class="workshop_enter">
      <img src="/ikon developer.png" class="big_btn">
      <img src="/ikon =>.png" class="smail_btn">
      <img src="ikon workshop.png" class="big_btn">
      <img src="/ikon =>.png" class="smail_btn">
      <img src="/ikon workshop enter.png" class="big_btn">
    </div>
    <div class="main_button">
      <input type="submit" value="開催する" class= "btn" onclick="location.href = '/homes/select_position'">
    </div>
  </div>
</div>  
  <div class="alam">
  </div>
    <hr>
<footer>
  <div class ="bottom-text">
    <p><span onclick="location.href ='sessions/new'">ログイン</span>|<span>ログアウト</span></p>
    <p>利用規約｜個人情報処理方針</p>
  </div>
  <div class ="bottom-text1">
    <p><b><font class="foot-text">ASOBINAGARA</font></b> Information</p>
  </div>
</footer>
