/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
    background-color:#DBE5E6;
    object-fit: cover;
    color: #004A54;
    font-family: 'Mali', cursive;
    min-height: 100vh;
    font-size: large;
}

.notification:not(:last-child){
    margin-bottom:0;
}
header{
    color: #DBE5E6;
    background-color:  #004A54; 
    text-align: left;
    font-family: 'Mali', cursive; 
    padding-top: 5%;
    padding-bottom: 5%;  
}
.header1 a { 
    color: #DBE5E6;
    text-decoration: none;
}
.header1{
    color: #DBE5E6;
    background-color:  #004A54; 
    text-align: left;
    font-family: 'Mali', cursive; 
    padding-top: 5%;
    padding-bottom: 5%; 
    display: flex;        
 }
 .s_header{
    margin-left:3%;
    font-size: x-large;    
    color: whitesmoke;
}
.s_header1{ 
    color: whitesmoke;
    font-weight: bolder;  
    font-size:larger;
    margin-left: 20%;
    text-decoration:none
}
li {
    list-style: none;
    display: flex;
  }
.s_header1{
    display: flex;
}

