// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color:#DBE5E6;
    object-fit: cover;
    color: #004A54;
}
.header{
    color:#004A54;
    text-align: right;
    font-family: 'Mali', cursive;
    font-weight: bolder; 
}
.page1{
    text-align: center;
}
.main-text{
    color:#004A54;
    text-align: center;
    font-weight: bolder; 
    margin-top: none;
}
.main-body{
    object-fit: cover;
    margin:10%,10%;

}
.top{  
    width: 100%;
    transform: translate(-50%,-100%);
    text-align: center;
    object-fit: cover;
    position: absolute;
}
.top2{
    width: 110%;
    text-align: center;
    transform: translate(-5%,1%);
    position: relative;
}
.top2 h4{
    text-align: center;
    position: absolute;
   
}

.btn{
    width: 50%;
    display: inline-block; 
    background-color: #F0F3F3;
    color:#004A54;
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bolder;
    border:0;
    outline:0;
    border-radius: 10px;
}
input{
    font-size: 130%;
    font-family: 'Mali', cursive;
    font-weight: bolder; 
}
.big_title{
    display: flex;
    color:#004A54;
    margin-top: 5%;
    }

.square{
    width: 5%;
    height: 5%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;  
}

.main_body{
    object-fit: contain;
   
    
}
.main_button{
    margin-top: 10%;
    margin-bottom: 30%;
    text-align: center;

}
.detail_box1_target_user{
    font-weight: bold;
    display: inline-block;
}

.workshop_enter{
    display: flex; 
    object-fit: cover; 
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.page3{
    padding-bottom: 8%;
}
.smail_btn{
    width: 5%;   
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    transform: translate(-65%, 180%);
}

.big_btn{
    width: 28%;  
    transform: translate(-12%, 10%);
}


.alam{
   background-color: whitesmoke;
    text-align: right;
    margin-bottom: none;
    width: 100%;
    height: 40px;
    border: solid whitesmoke 5px;    
}
.alam_button{
    width: 30%;
    margin-right:3%;
    margin-top: -3%;   
}
footer {
    text-align: center;
}
footer p{
    font-size: smaller;
    color:black;
}
.datail_box{
    font-size: 15px;
    margin-bottom: 20%;
    text-align: left;
}
.datail_box ul{
    margin-right: 10%;
}

.datail_box1{
    width: 98%;
    border: solid #004A54 1px;
    padding: 5px;
    box-sizing: border-box;   
}
.datail_box1 ul{
    font-size: 13px;
}
.datail_box1 font{
    color: #004A54;
    font-size: 15%;
}
.check {
    width: 3%;  
    transform: translate(5%, 5%);
}
.check1 {
    width: 4%;  
    transform: translate(7%, 5%);
}
.s-text{
    color:#004A54;
}
.foot-text{
    color:#004A54;
    font-family: 'Mali', cursive;
   
}
.bottom-text{
    font-size: medium; 
}
.bottom-text1{
    font-size: small;
}
.bottom-text2{
    font-size: x-small;

}
.name{
    color:#004A54;
    font-size: medium; }
.s_header{
   color: #DBE5E6;
   background-color:  #004A54; 
   text-align: left;
   font-family: 'Mali', cursive;     
}
.s_header h4{
    padding-top:3%;
    padding-bottom: 3%;
}
.position_btn{
    display: flex;
    text-align: center;
}
.p-btn{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 30%;
    background-color: #004A54;
    color:#F0F3F3;
    min-width: 100px;
    max-width: 400px;
    font-weight: bolder;
    border: 10px;
    outline:0;
    border-radius: 10px;
}

.position-text{
    color:#004A54;
    text-align: right;
    font-family: 'Mali', cursive;
    font-weight: bolder; 
    font-size: medium;
    text-align: center;
    margin-top: 30%;
}
.position{
    display: center;
    text-align: center;
}
.hand_img_home{
    margin-top: 30%;
  margin-right:10%;
    margin-bottom: 10%;
    width: 45%;
}
.select_header{
    display: flex;
    background-color:  #004A54; 
}
.select_b{
    text-align: right;
    margin-left: 40%;   
}
