// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-color:#DBE5E6;
    
    
    

}
.header{
    color:#004A54;
    text-align: right;
    margin-right: 15px;
    font-family: 'Mali', cursive;
    
}
.page1{
    text-align: center;

}
.main-text{
    color:#004A54;
    text-align: center;
    padding-bottom: 5%;

}

.top{  
    width: 97%;
    transform: translate(-50%,-100%);
    text-align: center;
    object-fit: cover;
    position: absolute;
}
.top2{
    width: 100%;
    
    text-align: center;
    transform: translate(1%,0);
    
    position: relative;
}
.top2 h4{
    text-align: center;
    position: absolute;
   
}

.btn{
    width: 50%;
    min-width: 100px;
    max-width: 400px;
    display: inline-block; 
    background-color: #004A54;
    color:white;
   
    margin-top: 5px;
    padding: 15px
    
    

}
input{
    font-size: 130%;
    font-family: 'Mali', cursive;
    font-weight: bolder; 
}
.about_us title{
    color: red;}
.us_ikon::before{
    text-align: left;
    width: 100%;
    background-color: #004A54;
    margin-left: 10px;
    text-align: center;
    content:url("/square.png");
}