// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.asobinagara{
    margin-top: 3%;
}
.asobinagara h1{
    align-content: center;
    font-size: xx-large;
    font-weight: bolder;
}
.signup{
    border: solid 3px;
    border-radius: 10px;
    margin-left:1%;
    margin-top: 10%;
    font-weight: bold;
}
.signup_text{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: x-large;
    font-weight: bolder;
}
.singup_title{
    text-align: center;
    margin-top:5%;
    margin-bottom: 5%;
}
.singup_title span{
    font-size: x-large;
    font-weight: bolder;
}
.signup {
    margin-top: 10%;
    font-weight:bolder;
}
.body{
    margin-left: 5%;
    text-align: center;
}
.body_box{
   margin-top: 2%;
   margin-bottom: 2%;
}
.button{
    background-color: #004A54;
    width: 50%;
    height: 40%;
    margin-top:10% ;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: solid 1px;
    font-size: large;
    border-radius: 5%;
    color:whitesmoke   
}
.login{
    margin-bottom: 5%;
    text-align: center;
}

.name{
    width:20%;
    margin-top: 3%; 
}
.sign_btn{
    text-align: center;
   
}
.gender_box{
    margin-top: 3%;
}
.bottom-text2 p{
    font-size: x-small;
}
.s-text{
    font-size: x-small;
    color: whitesmoke;
}