// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.asobinagara{
   font-weight: bold;
}
.body{
   margin-top: 10%;
   align-content: center;
}
.signup{
    align-content: center;
    border: solid 3px;
    border-radius: 10px;
}
.signup p{
    font-size: large;
    font-weight: bold;
}
.button{
    background-color: #004A54;
    width: 50%;
    height: 40%;
    margin-top:10% ;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: solid 1px;
    font-size: large;
    border-radius: 5%; 
}
.hand{
    width: 50%;
    align-content: center;
}
