// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.asobinagara h1{
    align-content: center;
    font-size: large;
}
.signup{
    text-align: left;
    border: solid 3px;
    border-radius: 10px;
    margin-left:1%;
    margin-top: 10%;
    font-weight: bold;
}
.signup span{
    font-weight:bolder;
}
.body{margin-left: 5%;}
.button{
    background-color: #004A54;
    width: 50%;
    height: 40%;
    margin-top:10% ;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: solid 1px;
    font-size: large;
    border-radius: 5%;
}
.login{
    margin-bottom: 5%;
    text-align: center;
}
.name_box{
    width: 100%;
    margin-top: 3%;
    
}
.sign_btn{
    text-align: center;}
.gender_box{
    margin-top: 3%;
}