// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//indexCSS

.w_header{
    display: flex;
    background-color: #004A54;
    padding-top: 2%;
    padding-bottom: 2%;   
    font-size: x-large; 
}
.w_s_header{
    margin-left:8%;
   
}
.w_s_header1{ 
    color: whitesmoke;
    margin-left: 30%;
    margin-top: 2%;
    font-size:large;
   font-weight: bolder;
   
   
}
.w_s_header1 a{
    color: inherit; 
    text-decoration:none
}
.w_side_header_p{
    margin-left:3%;
}
.w_table_left{
    width: 67%;
    float:left;
    margin-left: 1%;
}
.w_s_header{
    color:whitesmoke;
    float:left;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size:larger;
    font-weight: bolder;
}

.w_side_header_p{
    margin-left: 5%;
    font-size: x-small;
}
.w_table_right{
    width: 28%;
    border: 1px solid #444444;
    float:left;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 5%;
    padding-bottom:3%;
}
.w_title{
    background-color: whitesmoke;
    font-weight: 150;
    font-weight: bolder;
    text-align:center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.w_theme{
     text-align:center;   
     padding-top: 3%;
}
.w_img{
    margin-top:0%;
    text-align:center;   
} 

.w_btn_b{
    background-color: #004A54;
    width: 95%;
    height: 60%;
    margin-top:10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    border: solid 1px;
    font-size: large;
    border-radius: 5%;
    color:whitesmoke;
    text-decoration:none;
}
.w_btn_r{ 
    background-color:whitesmoke;
    width:95%;
    height: 60%;
    text-decoration:none;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    border: solid 1px;
    font-size: large;
    border-radius: 5%;
    color: #004A54;
}
.w_p_table_text{
    margin:10%;
    padding-bottom: 5%;
}
//index
.p_s_body{
    margin-top:10%;
    margin-bottom: 5%;
}
.p_t_h{
    margin-bottom: 5%;
}
.w_header_left{
    border: solid 1px whitesmoke;
}
//new
.W_body{
    margin-top:2%;
    text-align: center;
    display: flex;
}
.body_box{
    margin-top: 3%;
    font-size: large;
    font-weight: bolder;
}
.text_box{
    margin-top: 3%;
    margin-right: 5%;
}
.name_box{
    display: flex;
    margin-right: 10%;

}
.s_box{
    width: 40%;
    margin-right: 5%;
}
.input{
    margin-right: 10%;
    margin-left: 10%;
}
.w_img{
    width: 100%;
   height: 18em;

    margin-right: 5%;
}
.w_img_d{
    width: 100%;}
.w_img p{
    margin-left: 10px;
}
//show

.review-content{
    text-align: center;
}
.review-title{
    padding-top: 5%;
    padding-bottom:5%;
    font-weight: bolder;
    font-size: x-large;
    background-color:rgba(220, 250, 239, 0.5);  
}
.review-title p{
    font-size: medium;
    
}
//link
.link_text{
    color: #004A54;
    text-decoration:none;
}
.rating-box .ratings .fa{
    font-size:30px;
    color:#ffcc00;
    cursor: pointer;
}
.rating-value-display{
    font-size: 20px;
}
.star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 25px;
    text-align: right;
    margin-left: 30%;
    display: flex;
  }
  .star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .w_star-rating{
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 25px;
    
    margin-left: 40%;
    display: flex;
  }
  .star-rating-back {
    color: #ccc;
    text-align: center;
  }
  
  .average-score {
    text-align: center;
  }
  .average-score-display p{
    font-size: 16px;
    text-align:right;
  }
  .reviews{
    display: flex;
    text-align: center;
}
.reviews_box_title{
    background-color: antiquewhite;
  }  
.reviews_box_text{
    border: solid 1px whitesmoke;
    width: 80%;
    margin-bottom:1%;
    margin-left:2%;
}
.reviews_box_text1{
    border: solid 1px whitesmoke;
    width: 100%;
    height: 20%;
    background-color: whitesmoke;  
}
.reviews_box_content{
    margin-top: 15%;
    font-size: 11px;
}
.s_b{
    text-align: right;
    margin-right: 10%;
}
.workshop_detail{
    margin-top: 10%;
    border:solid 3px #004A54;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 3%;
    margin-bottom: 10%;
}
.workshop_title{
    font-weight: bolder;
    margin-left: 5%;
    }
.workshop_b_title{
    text-align: center;
    font-size: larger;
    font-weight: bolder;

}  
.w_p_u{
    margin-right: 7%;
}  
.reviews_box_image{
    text-align:center;
    margin:auto;
}