// Place all the styles related to the users/user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/
.hand_img{
    margin-top: -1%;
    margin-left:55%;
    width: 40%;
    
}