<div class="p_side_header_p">
  <p>Home> workshopsのレビュー</p>
</div><!三本のイメージを押したら　カテゴリーが開きます。-->
<%= render 'workshop_detail',workshop:@workshop%>
  <%if @workshop != nil %>
    
      <div class="user_enter_butten">
      </div>   
      <div class="post_text">
        <%= render 'form.html',post:@post %>
      </div> 
   
      <%= render 'user_show',workshop:@workshop %>
  <% else %>
    No workshop
  <% end %>
