<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <mata name="description" content= "ASOBINAGARAは遊びながら色々作る楽しさを広げるフラットフォームです。">
    <mata name="viewport" content="width=device-width, initial-scale=1.0">
    <!--携帯サイズに合わします。-->
    <mata name ="robots" content"noindex, no follow"/ >
    <!--コピー防止-->
    <title>ASOBINAGARA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>